h1, h2 {
    color: MidnightBlue;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid DimGray;
}

th, td {
    text-align: left;
    padding: 1em;
}

img {
    width: 60%;
    height: auto;
}

body {
    font-family: "Cambria", "Times New Roman", "Helvetica", "Arial", "Microsoft YaHei", "PingFang SC", sans-serif;
}

code, pre {
    font-family: "Consolas", "Courier New", "Microsoft YaHei Mono", monospace;
}
